@using ThirtyOne.Shared.Helpers
@using ThirtyOne.Web.Helpers
@model ThirtyOne.Shared.Models.Game
@{
    ViewData["Title"] = "GameOver";
}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Game Over - @Model.Winner.Name won!</h1>
        <p class="lead">Thanks for playing!</p>
    </div>
</div>

<div class="container">
    @foreach (var p in Model.Players.OrderByDescending(p => p.Hand.CalculateScore()))
    {
        <div class="row">
            <h2>@p.Name: @p.Hand.CalculateScore() points</h2>
            @foreach (var c in p.Hand)
            {
                <img src="~/images/Cards/@c.FileName()" class="playingcard" />
            }
        </div>
    }
</div>