@using ThirtyOne.Web.Helpers
@using ThirtyOne.Shared.Helpers
@model GameViewModel
@{
    ViewData["Title"] = "Thirty One - Playing Game";
}
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h3>Table</h3>

                    <div class="row cardtable">
                            <img src="~/images/Cards/back.png" class="playingcard selectablecard" />
                            <img src="~/images/Cards/@Model.CurrentGame.Table.Last().FileName()" class="playingcard selectablecard" />
                        @if (!Model.CurrentGame.Players.Any(p => p.HasKnocked))
                        {
                            <img src="~/images/knock.png" class="playingcard selectablecard" />
                        }


                    </div>


                <h3>Your hand (@Model.CurrentPlayer.Hand.CalculateScore() points)</h3>

                <div class="row">
                    @foreach (var c in Model.CurrentPlayer.Hand)
                    {
                        <img src="~/images/Cards/@c.FileName()" class="playingcard" />
                    }

                </div>
            </div>
            <div class="col-md-5">
                    <h1 class="display-4">Your turn</h1>

                @if (!string.IsNullOrEmpty(Model.CurrentPlayer.LastAction))
                {
                    <p class="lead">You @Model.CurrentPlayer.LastAction</p>
                }
                <hr />
                <partial name="_PlayerList" model="Model.CurrentGame" />

            </div>

        </div>
    </div>